<div class="container-login">
  <!-- Panel Izquierdo -->
  <div class="sidebar-conia">
    <div class="logo">
      <img src="/src/assets/images/logo-conia.png" alt="Logo ConIA" />
      <h1>CONIA</h1>
    </div>
    <p>
      Optimiza la gestión contable con ConIA, transforma los datos en decisiones estratégicas desde un solo lugar, sin perder el control.
    </p>
  </div>

  <!-- Panel Derecho -->
  <div class="login-right">
    <h2 class="login-title">INICIAR SESIÓN</h2>

    <div class="login-google-btn">
      <img src="/src//assets/images/icono-google.png" alt="Google" />
      <span>Inicia sesión con tu cuenta de Google</span>
    </div>

    <div class="login-divider">O</div>

    <form class="login-form">
      <div class="login-form-group">
        <div class="login-input-icon">
          <img src="/src/assets/images/icono-correo-verde.png" alt="Correo" />
          <input type="email" placeholder="Correo electrónico" />
        </div>
      </div>

      <div class="login-form-group">
        <div class="login-input-icon">
          <img src="/src/assets/images/icono-contrasena-verde.png" alt="Contraseña" />
          <input type="password" placeholder="Contraseña" />
        </div>
      </div>

      <div class="login-forgot-password">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>

      <button type="submit" class="login-btn">INICIAR SESIÓN</button>
    </form>

    <div class="login-register-link">
      <span>¿No tienes cuenta?</span>
      <a routerLink="/register">Regístrate</a>
    </div>
  </div>
</div>

<app-footer-conia></app-footer-conia>

