.register-container {
  display: flex;
  min-height: 100vh;

.register-left {
  position: relative;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  overflow: hidden;

  // Imagen de fondo
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('/src/assets/images/WALLPAPER\ REGISTER.png') center/cover no-repeat;
    z-index: 0;
  }

  // Contenido encima del fondo
  .logo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    z-index: 1;

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 20px;
    }

     h1 {
      font-family: 'Inter', sans-serif;
      font-size: 50px;
      font-weight: 550;
      background: linear-gradient(90deg, #ffffff, #a0e6b0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }
    }

  p {
    font-weight: 400;
    line-height: 1.4;
    position: relative;
    z-index: 1;
    margin-top: 1rem;
    max-width: 300px;
    text-align: center;
    font-size: 0.9rem;
  }
}


  .register-right {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin-bottom: 1rem;
      font-weight: bold;
      color: #064e3b; 
    }

    form {
      display: flex;
      flex-direction: column;

      .form-group {
        margin-bottom: 1rem;

        .input-icon {
          position: relative;
          display: flex;
          align-items: center;

          img {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
          }

          input {
              background-color: #ffffff;
              width: 100%;
              padding-left: 40px;
              padding-right: 40px;
              height: 2.5rem;
              border: 1px solid #ccc;
              border-radius: 8px;
              font-size: 0.9rem;
            }
          }
        }

      .form-check {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        input[type='checkbox']{
          width: 16px;
          height: 16px;
          accent-color: #064e3b;
        }

        label {
          margin-left: 0.5rem;
        }
      }

      .btn-register {
        background: #064e3b;
        color: white;
        padding: 0.75rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
        font-weight: 600;

        &:hover {
          background: #07654c;
        }
      }
    }

    .login-link {
      text-align: center;
      margin-top: 2rem;
      font-size: 0.9rem;

      a {
        display: inline-block;
        color: #064e3b;
        text-decoration: underline;

        &:hover {
          color: #07654c;
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  color: #555;

  span {
    flex: 1;
    text-align: center;
  }

  .footer-left {
    text-align: left;
  }

  .footer-right {
    text-align: right;
  }
}
