@use '../../../styles/sidebar-conia.scss' as *;

.register-container {
  display: flex;
  min-height: 100vh;

  .sidebar-conia {
    width: 50%;
  }

  .register-right {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin-bottom: 1rem;
      font-weight: bold;
      color: #064e3b; 
    }

    form {
      display: flex;
      flex-direction: column;

      .form-group {
        margin-bottom: 1rem;

        .input-icon {
          position: relative;
          display: flex;
          align-items: center;

          img {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
          }

          input {
              background-color: #ffffff;
              width: 100%;
              padding-left: 40px;
              padding-right: 40px;
              height: 2.5rem;
              border: 1px solid #ccc;
              border-radius: 8px;
              font-size: 0.9rem;
            }
          }
        }

      .form-check {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        input[type='checkbox']{
          width: 16px;
          height: 16px;
          accent-color: #064e3b;
        }

        label {
          margin-left: 0.5rem;
        }
      }

      .btn-register {
        background: #064e3b;
        color: white;
        padding: 0.75rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
        font-weight: 600;

        &:hover {
          background: #07654c;
        }
      }
    }

    .login-link {
      text-align: center;
      margin-top: 2rem;
      font-size: 0.9rem;

      a {
        display: inline-block;
        color: #064e3b;
        text-decoration: underline;

        &:hover {
          color: #07654c;
        }
      }
    }
  }
}
