<!-- Menu lateral-->

<div class="lateral-menu">
  <button title="Salir">🔙</button>
  <button title="Documentos">🖼️</button>
  <button title="Facturas">📄</button>
  <button title="Ajustes">⚙️</button>
</div>

<!-- Contenido Principal-->

<main class="facturacion">
  <header>
    <h1>FACTURACIÓN</h1>
    <p>
      Carga, procesa y gestiona facturas electrónicas de manera automática y segura,
      garantizando el cumplimiento tributario y optimizando el flujo contable.
    </p>
  </header>

  <div class="acciones">
    <button class="btn cargar" (click)="mostrarCarga()">📂 CARGAR DOCUMENTOS</button>
    <button class="btn generar">📝 GENERAR FACTURA</button>
  </div>

  <div class="carga-flotante" *ngIf="mostrarInput">
    <input type="file" (change)="procesarArchivo()"/>
  </div>

  <div class="mensaje-flotante" *ngIf="procesando">
    <span *ngIf="!procesado"> procesando archivo...</span>
    <span *ngIf="procesado">✔️ Archivo procesado correctamente</span>
  </div>

  <table>
    <thead>
      <tr>
        <th>Factura</th>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Estado</th>
        <th>Precio</th>
        <th>Observaciones</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factura of facturas">
        <td>{{ factura.id }}</td>
        <td>{{ factura.fecha }}</td>
        <td>{{ factura.cliente }}</td>
        <td [ngClass]="{'denegado': factura.estado === 'Denegado', 'pendiente': factura.estado === 'Pendiente'}">
          {{ factura.estado }}
        </td>
        <td>{{ factura.precio }}</td>
        <td>{{ factura.observaciones }}</td>
        <td><button class="editar" [routerLink]="['/dashboard/facturacion/editar', factura.id]">Editar</button></td>
      </tr>
    </tbody>
  </table>
</main>

  <footer class="footer">
    <span>Política de privacidad</span>
    <span>2025 Soluciones Tecnológicas</span>
    <span>Términos y condiciones</span>
  </footer>

