<div class="background-test">
  <svg class="montana" viewBox="0 0 1000 500" preserveAspectRatio="none">
    <path 
      d="
        M1000,150     
        Q250,450 500,400 
        Q750,350 1000,500 
        L1000,500 L0,500 Z
      " 
      fill="#02150e" />
  </svg>
  <div class="linea-roja"></div>
  <div class="decorative plus plus1">+</div>
  <div class="decorative plus plus2">+</div>
  <div class="decorative circle circle1"></div>
  <div class="decorative circle circle2"></div>
  <div class="dots">
    <!-- fila 1 -->
    <div class="blue"></div><div class="blue"></div><div class="blue"></div>
    <!-- fila 2 -->
    <div class="blue"></div><div class="blue"></div><div class="blue"></div>
    <!-- fila 3 -->
    <div></div><div class="blue"></div><div class="blue"></div>
    <!-- fila 4 -->
    <div></div><div></div><div class="blue"></div>
    <!-- fila 5 -->
    <div></div><div></div><div></div>
    <!-- fila 6 -->
    <div></div><div></div><div></div>
  </div>
</div>