<aside class="sidebar-conia">

  <!-- AVATAR Y NOMBRE -->
  <div class="admin-block">
    <div class="avatar-conia"></div>
    <span class="admin-label">Admin</span>
  </div>

  <!-- MENÚ -->
  <nav class="nav-links">
    <button (click)="navigate('/documentos')">
      <span class="menu-icon icon-docs"></span>
      <span class="menu-text">Documentos Soporte</span>
    </button>

    <button (click)="navigate('/facturacion')">
      <span class="menu-icon icon-facturas"></span>
      <span class="menu-text">Facturación</span>
    </button>

    <button (click)="navigate('/ajustes')">
      <span class="menu-icon icon-ajustes"></span>
      <span class="menu-text">Ajustes</span>
    </button>
  </nav>
</aside>
