<div class="layout-conia">
  <div class="topbar-conia">
    <div class="logo-conia"></div>
    <button class="logout-btn" (click)="volverLogin()"></button>
  </div>

  <div class="main-body">
    <div class="sidebar-conia">
      <div class="avatar-conia"></div>
      <div class="menu-buttons">
        <button title="Documentos"></button>
        <button title="Facturas"></button>
      </div>
    </div>

    <div class="main-content">
      <ng-content></ng-content> <!-- Aquí se cargará la vista de facturación -->
    </div>
  </div>
</div>
